SportScoutMedinaJake.xcodeproj/project.xcworkspace/xcuserdata/ankitbhattacharyya.xcuserdatad/
SportScoutMedinaJake.xcodeproj/xcuserdata/ankitbhattacharyya.xcuserdatad/

SportScoutMedinaJake.xcodeproj/xcuserdata/jakemedina.xcuserdatad/
SportScoutMedinaJake.xcodeproj/xcuserdata/jrm7784.xcuserdatad/

SportScoutMedinaJake.xcworkspace/xcuserdata/jakemedina.xcuserdatad/
SportScoutMedinaJake.xcworkspace/xcuserdata/jrm7784.xcuserdatad/

# General
.DS_Store
